header {
  height: 100px;
}

#top-header {
  display: flex;
}

header #navbar ul {
  list-style-type: none;
  display: flex;
}

footer {
  /* TODO remove */
  height: 50px;
  background-color: teal;
}
